.subtext {
  font-size: 7pt;
}

.reply {
  font-size: 8pt;
}

.comhead {
  font-family: Verdana;
  font-size: 8pt;
  color: #828282;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments
.nested_comments .nested_comments .nested_comments
.nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}
